# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
.env/
ENV/
env/
env.bak/
venv.bak/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.tox/

# mypy
.mypy_cache/
.dmypy.json

# IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Docker files
docker-compose.override.yml
*.log

# Environment variables
.env